{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %} Yangiliklar {% endblock title %}

{% block content %}

<!-- Single News Start-->
<div class="single-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row row-cols-1 row-cols-md-3">
                    {% for new in news %}
                      <div class="col mb-4">
                        <div class="card h-100">
                          <!--Card image-->
                          <div class="view overlay">
                            <img class="card-img-top" src="{{ new.header_images.url }}" class="card-img-top"
                                 alt="{{ new.header_images.name }}" style="height: 144px;">
                          </div>
                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                              <h5 class="card-title"><a href="{{ new.get_absolute_url }}">{{  new.name | truncatewords:7 }}</a></h5>
                            <!--Text-->
                          </div>
                            <p class="card-fuchsia mp-2 mb-0">
                                <i class="bi bi-calendar3 mx-2"></i>{{ new.date | date:"d.m.Y"}} </i>
                                <i class="bi bi-alarm"></i> {{ new.date | date:"H:i"}}
                            </p>
                            <p class="card-fuchsia mx-3">
                                <i class="bi bi-eye"></i> Ko'rish: {% get_hit_count for new %} ta
                            </p>
                        </div>
                        <!-- Card -->
                      </div>
                    {% endfor %}
                </div>

                <div class="sn-related">
                    <h2>Related post</h2>
                    <div class="row sn-slider">
                        <div class="col-md-4">
                            <div class="sn-img">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
                                <div class="sn-title">
                                    <a href="">Interdum et fames ac ante</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sn-img">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
                                <div class="sn-title">
                                    <a href="">Interdum et fames ac ante</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sn-img">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
                                <div class="sn-title">
                                    <a href="">Interdum et fames ac ante</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sn-img">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
                                <div class="sn-title">
                                    <a href="">Interdum et fames ac ante</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sn-img">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
                                <div class="sn-title">
                                    <a href="">Interdum et fames ac ante</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sn-img">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
                                <div class="sn-title">
                                    <a href="">Interdum et fames ac ante</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h2 class="sw-title">Eng yangi postlar</h2>
                        <div class="news-list">
                            {% for news in news_list %}
                            <div class="nl-item">
                                <div class="nl-img">
                                    <img src="{{ news.header_images.url }}" class="card-img-top all_page_news_img" alt="Skyscrapers"/>
                                </div>
                                <div class="nl-title">
                                    <a href="{{ news.get_absolute_url }}">{{ news.name | truncatewords:6 }}</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <div class="image">
                            <a href="https://htmlcodex.com"><img src="{% static 'assets/img/ads-2.jpg' %}" alt="Image"></a>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <div class="tab-news">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="featured" class="container tab-pane active">
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="popular" class="container tab-pane fade">
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}g" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="latest" class="container tab-pane fade">
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                    <div class="tn-news">
                                        <div class="tn-img">
                                            <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                        </div>
                                        <div class="tn-title">
                                            <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <div class="image">
                            <a href="https://htmlcodex.com"><img src="{% static 'assets/img/ads-2.jpg' %}" alt="Image"></a>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="sw-title">News Category</h2>
                        <div class="category">
                            <ul>
                                <li><a href="">National</a><span>(98)</span></li>
                                <li><a href="">International</a><span>(87)</span></li>
                                <li><a href="">Economics</a><span>(76)</span></li>
                                <li><a href="">Politics</a><span>(65)</span></li>
                                <li><a href="">Lifestyle</a><span>(54)</span></li>
                                <li><a href="">Technology</a><span>(43)</span></li>
                                <li><a href="">Trades</a><span>(32)</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <div class="image">
                            <a href="https://htmlcodex.com"><img src="img/ads-2.jpg" alt="Image"></a>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="sw-title">Tags Cloud</h2>
                        <div class="tags">
                            <a href="">National</a>
                            <a href="">International</a>
                            <a href="">Economics</a>
                            <a href="">Politics</a>
                            <a href="">Lifestyle</a>
                            <a href="">Technology</a>
                            <a href="">Trades</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single News End-->

{% endblock %}