{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!-- Top News Start-->
    <div class="top-news">
        <div class="container">
            <div class="row">
                <div class="col-md-6 tn-left">
                    <div class="row tn-slider">
                        {% for news in news_list %}
                        <div class="col-md-6">
                            <div class="tn-img sileder_pic">
                                <img class="sileder_pic" src="{{ news.header_images.url }}"/>
                                <div class="tn-title">
                                    <a href="{% url 'post_detail' news.pk %}">{{ news.name | truncatewords:7 }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 tn-right">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="{% static 'assets/img/news-350x223-1.jpg' %}" />
                                <div class="tn-title">
                                    <a href="">Lorem ipsum dolor sit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="{% static 'assets/img/news-350x223-2.jpg' %}" />
                                <div class="tn-title">
                                    <a href="">Lorem ipsum dolor sit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="{% static 'assets/img/news-350x223-3.jpg' %}" />
                                <div class="tn-title">
                                    <a href="">Lorem ipsum dolor sit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="{% static 'assets/img/news-350x223-4.jpg' %}" />
                                <div class="tn-title">
                                    <a href="">Lorem ipsum dolor sit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top News End-->

    <!-- Category News Start-->
    <div class="cat-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>O'zbekiston</h2>
                        <div class="row cn-slider">
                            {% for news in uzbekistan_news %}
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img class="all_category_img" src="{{ news.header_images.url }}" />
                                    <div class="cn-title">
                                        <a href="{% url 'post_detail' news.pk %}">{{ news.name | truncatewords:5 }}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Jahon</h2>
                        <div class="row cn-slider">
                            {% for news in jahon_news %}
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img class="all_category_img" src="{{ news.header_images.url }}" />
                                    <div class="cn-title">
                                        <a href="{% url 'post_detail' news.pk %}">{{ news.name | truncatewords:5 }}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Category News End-->

    <!-- Category News Start-->
    <div class="cat-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Iqtisodiyot</h2>
                        <div class="row cn-slider">
                            {% for news in iqtisod_news %}
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img class="all_category_img" src="{{ news.header_images.url }}" />
                                    <div class="cn-title">
                                        <a href="{% url 'post_detail' news.pk %}">{{ news.name | truncatewords:5 }}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Jamiyat</h2>
                        <div class="row cn-slider">
                            {% for news in jamiyat_news %}
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img class="all_category_img" src="{{ news.header_images.url }}" />
                                    <div class="cn-title">
                                        <a href="{% url 'post_detail' news.pk %}">{{ news.name | truncatewords:5 }}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Category News End-->
    <!-- Category News Start-->
    <div class="cat-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Fan-texnika</h2>
                        <div class="row cn-slider">
                            {% for news in fantexnika_news %}
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img class="all_category_img" src="{{ news.header_images.url }}" />
                                    <div class="cn-title">
                                        <a href="{% url 'post_detail' news.pk %}">{{ news.name | truncatewords:5 }}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Sport</h2>
                        <div class="row cn-slider">
                            {% for news in sport_news %}
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img class="all_category_img" src="{{ news.header_images.url }}" />
                                    <div class="cn-title">
                                        <a href="{% url 'post_detail' news.pk %}">{{ news.name | truncatewords:5 }}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Category News End-->


    <!-- Main News Start-->
    <div class="main-news">
        <div class="container">
            <hr class="mb-4" style="border-radius: 5px; border: 2px solid black">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        {% for news in news_list %}
                        <div class="col-md-4">
                            <div class="mn-img">
                                <img class="all_pic_img" src="{{ news.header_images.url }}" />
                                <div class="mn-title">
                                    <a href="{% url 'post_detail' news.pk %}">{{ news.name | truncatewords:5 }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="mn-list">
                        <h2>Tavsiya etamiz</h2>
                        <ul>
                            {% for news in news_list %}
                            <li><a href="{% url 'post_detail' news.pk %}">{{ news.name | truncatewords:4 }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main News End-->





{% endblock %}